apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
        version: 8.0.2
  values:
    grafana.ini:
    server:
      domain: hello-word.example
      root_url: http://hello-world.example/grafana
      serve_from_sub_path: true
    service:
      type: NodePort
      nodePort: 30001
    persistence:
      enabled: true
      size: 1Gi
