deb http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }} main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }} main restricted universe multiverse

deb http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }}-updates main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }}-updates main restricted universe multiverse

deb http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }}-backports main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }}-backports main restricted universe multiverse

deb http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }}-security main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ ubuntu_version_codename }}-security main restricted universe multiverse

deb http://archive.canonical.com/ubuntu {{ ubuntu_version_codename }} partner
deb-src http://archive.canonical.com/ubuntu {{ ubuntu_version_codename }} partner